body {
  height: 100dvh;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
}

#contentCtr {
  margin-top: 8rem;
  display: grid;
  grid-template: 0.3fr 1fr / 0.2fr 1fr 0.2fr;
  text-align: center;
  gap: 1rem;
  width: 100%;
}

#pageTitle {
  font-size: 3.4rem;
  grid-area: 1 / 1 / 2 / 4;
}

#newFolderBtn {
  max-width: 10%;
  min-width: 15rem;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.3em;
}

#folderCtr {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

#folderCtr h2 {
  font-size: 2rem;
}

#folderCtr svg {
  width: 2rem;
}

.folder {
  width: 100%;
  border: 1px black solid;
}

.folderName {
  display: grid;
  grid-template: 1fr / 0.1fr 1fr 0.1fr;
  width: 100%;
  align-items: center;
  position: relative;
}

.folderOptionsMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  z-index: 10;
}

.folderName h2 {
  grid-area: 1 / 2 / 2 / 3;
  width: fit-content;
  justify-self: center;
}

.folderName svg {
  grid-area: 1 / 3 / 2 / 4;
}

.folderName svg:hover {
  background-color: gray;
}

.hidden {
  display: none !important;
}

.filesCtr {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.fileItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.fileItem img {
  width: 6rem;
}

.fileName {
  display: flex;
  width: 8rem;
  justify-content: center;
}

.fileName p {
  overflow: hidden;
}

.fileName img {
  width: 1.5rem;
}

.fileButtonCtr {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  z-index: 10;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.fileOptions {
  cursor: pointer;
}
