<div>
    <div>
        <form action="/user/login" method="POST">
            <h2>Login</h2>
            <div>
                <label for="loginEmail">Email: </label>
                <input type="email" name="loginEmail" id="loginEmail">
            </div>
            <div>
                <label for="loginPassword">Password:</label>
                <input type="password" name="loginPassword" id="loginPassword">
            </div>
            <button type="submit">Submit</button>
        </form>
        <form action="/user/signup" method="POST">
            <h2>Signup</h2>
            <% if (errors && errors.length > 0) { %>
                <% errors.forEach((error) => { %>
                    <p><%- error.msg %></p>
                <% }) %>
            <%}%>
            <div>
                <label for="signupName">Name (optional): </label>
                <input type="text" name="signupName" id="signupName" value="<%= data.signupName %>">
            </div>
            <div>
                <label for="signupEmail">Email: </label>
                <input type="email" name="signupEmail" id="signupEmail" value="<%= data.signupEmail %>">
            </div>
            <div>
                <label for="signupPassword">Password: </label>
                <input type="password" name="signupPassword" id="signupPassword">
            </div>
            <div>
                <label for="signupConfirmPassword">Password: </label>
                <input type="password" name="signupConfirmPassword" id="signupConfirmPassword">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>