<div>
    <button id="newFolderBtn">Add new file</button>
    <h2>Folders are here</h2>
    <% if (currentUser.folders.length <= 0) { %>
        <p>No Folders yet! Set some up!</p>
    <%}%>
    <% currentUser.folders.forEach((folder) => { %>
        <div>
            <p><%= folder.name%></p>
        </div>
    <%}) %>
    <modal class="" id="modal">
      <form action="" method="" id="modalForm">
    </modal>
</div>